.monthBox {
    padding: 0 10px;
    height: 100%;
    .header {
        background-color: aquamarine;
        padding: 30px;
        border-radius: 14px;


        // 时间区域
        .date {
            display: flex;
            align-items: center;
            .text {
                font-size: 16px;
            }
            .arrow {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    margin-top: -4px;
                    margin-left: 9px;
                    border-top: 2px solid #121826;
                    border-left: 2px solid #121826;
                    transform: rotate(225deg);
                    transform-origin: center;
                    transition: all 0.3s;
                }
            
                .arrow.expand {
                    transform: translate(0, 2px) rotate(45deg);
                }
        }
        // 统计区域
        .overview {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
    
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .money {
                    font-size: 20px;
                    font-weight: 600;
                }
                .type {
                    font-size: 14px;
                }
            }
        }
    }
    
}